<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./styles/style.css">
    <title>Track My Assessments</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
 