<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./styles/style.css">
    <title>Track My Assessments</title>
  </head>
  <body>
    <h1>Track My Ass</h1>
    <p>Who are you?</p>
    <form action="/login" method="POST">
      <div>
      <input type="text" name="name" id="login-name" placeholder="Name:">
      <button class="button"><a href="/student/:studentId"></a>Enter</button> {{!Change student link to '{{ }}
      </div>
    </form>
  </body>
</html>
 