<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Fresca|Lato&display=swap" rel="stylesheet">     
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Kata</title>
  </head>
  <body>
     <h1>Kata {{name}}</h1> {{!Make sure individual Kata names appear}}
    <div style="font-size: 0px">
      <p>&#9745; Completed; &#10060; Not Completed; &#10071; Important! {{status}}</p> {{!Update to be dynamic and pulled from database}}
    </div>
    <div>
      <a class="lolink" href="https://matai-2019-handbook.herokuapp.com/learning-objectives/" target="_blank">Learning Objectives</a>
    </div>
    <br>
    <br>
      <button class="editbutton">Submit</button>

      <input class="editinput" cols="50" rows="5"></input>

  </body>
</html>