<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="./styles/style.css">
    <title>Katas</title>
  </head>
  <body>
    <h1>Katas</h1>
    <div class="left">
    <ul>
      {{#each asses}} {{!Check proper data}}
      <li>
        <a href="/students/{{studentID}}/{{id}}">{{name}}</a>
      </li>
      {{/each}}
    </ul>
    </div>
      <div class="right">
        <p>&#9745; Completed; &#10060; Not Completed; &#10071; Important! {{status}}</p> {{!Update to be dynamic and pulled from database}}
      </div>
  </body>
</html>