<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Fresca|Lato&display=swap" rel="stylesheet">     
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Kata</title>
  </head>
  <body>
     <h1>Kata {{name}}</h1> {{!Make sure individual Kata names appear}}
    {{#if status}}
    <h2 style="color: rgba(37, 192, 37, 0.644); margin-bottom: 50px">Completed</h2>
    {{/if}}

  <form action="/students/{{}}/{{id}}" method="post">
      <label for="status">status</label>
    <select id="country" name="status">
      <option value="completed">comlpeted</option>
      <option value="notCompleted">not completed</option>
    </select>
    <button type="submit" class="button">submit</button>
  </form>
  <br >
      <a href="https://matai-2019-handbook.herokuapp.com/learning-objectives/" target="_blank">Learning Objectives</a>
  </body>
</html>