<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="./styles/style.css">
    <title>Kata</title>
  </head>
  <body>
     <h1>Kata {{name}}</h1> {{!Make sure individual Kata names appear}}
    <div class="right">
      <p>&#9745; Completed; &#10060; Not Completed; &#10071; Important! {{status}}</p> {{!Update to be dynamic and pulled from database}}
    </div>
      <button class="button">Edit</button>

      <textarea cols="50" rows="5">Notes</textarea>
    {{!-- <div class="slide-wrap"> --}}
                  <!-- slide-button that goes to each of the slide -->
    {{!-- <div class="slide-button">
      <a href="#slide-1" onclick="changeInput(event)">1</a>
      <a href="#slide-2" onclick="changeInput(event)">2</a>
      <a href="#slide-3" onclick="changeInput(event)">3</a>
      <a href="#slide-4" onclick="changeInput(event)">4</a>
      <a href="#slide-5" onclick="changeInput(event)">5</a>
      <a href="#slide-6" onclick="changeInput(event)">6</a>
      <a href="#slide-7" onclick="changeInput(event)">7</a>
      <a href="#slide-8" onclick="changeInput(event)">8</a>
      <a href="#slide-9" onclick="changeInput(event)">9</a>
      <a href="#slide-10" onclick="changeInput(event)">10</a>
    </div>

       {{!status bar}}
    <h3>How confident do you feel with this topic?</h3>
    <div class="questions-slider">
      <div class="questions-slide" id="slide-1"></div>
      <div class="questions-slide" id="slide-2"></div>
      <div class="questions-slide" id="slide-3"></div>
      <div class="questions-slide" id="slide-4"></div>
      <div class="questions-slide" id="slide-5"></div>
      <div class="questions-slide" id="slide-6"></div>
      <div class="questions-slide" id="slide-7"></div>
      <div class="questions-slide" id="slide-8"></div>
      <div class="questions-slide" id="slide-9"></div>
      <div class="questions-slide" id="slide-10"></div>
    </div>
    <form method="POST" action="">
      <button class="btn btn-primary" type="submit" value="submit">Submit</button>
    </form>

    <div class="slide-wrap">
                  <!-- slide-button that goes to each of the slide -->
    <div class="slide-button">
      <a href="#slide-1" onclick="changeInput(event)">1</a>
      <a href="#slide-2" onclick="changeInput(event)">2</a>
      <a href="#slide-3" onclick="changeInput(event)">3</a>
      <a href="#slide-4" onclick="changeInput(event)">4</a>
      <a href="#slide-5" onclick="changeInput(event)">5</a>
      <a href="#slide-6" onclick="changeInput(event)">6</a>
      <a href="#slide-7" onclick="changeInput(event)">7</a>
      <a href="#slide-8" onclick="changeInput(event)">8</a>
      <a href="#slide-9" onclick="changeInput(event)">9</a>
      <a href="#slide-10" onclick="changeInput(event)">10</a>
    </div>

    <h3>How was your time management during this Kata?</h3>
    <div class="questions-slider">
      <div class="questions-slide" id="slide-1"></div>
      <div class="questions-slide" id="slide-2"></div>
      <div class="questions-slide" id="slide-3"></div>
      <div class="questions-slide" id="slide-4"></div>
      <div class="questions-slide" id="slide-5"></div>
      <div class="questions-slide" id="slide-6"></div>
      <div class="questions-slide" id="slide-7"></div>
      <div class="questions-slide" id="slide-8"></div>
      <div class="questions-slide" id="slide-9"></div>
      <div class="questions-slide" id="slide-10"></div>
    </div>

    <form method="POST" action="">
      <button class="btn btn-primary" type="submit" value="submit">Submit</button>
    </form> --}}

      <a href="https://matai-2019-handbook.herokuapp.com/learning-objectives/" target="_blank">Learning Objectives</a>
  </body>
</html>