{{!-- 
    <link href="https://fonts.googleapis.com/css?family=Fresca|Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css"> --}}
    <div class="logincontainer">
    <h1>Track My Ass</h1>
  <p class="loginquestion">Who are you?</p>
    <br>
    <form action="/login" method="POST">
      <div>
      <input type="text" name="name" class="login-name">
      <br>
      <br>
      <button class="loginbutton"><a href="/student/:studentId"></a>Enter</button> {{!Change student link to '{{ }}
      </div>
    </form>
    </div>
 